<h1>商品一覧</h1>

<% @items.each do |item| %>
<div>
  <%= link_to public_item_path(item) do %>
  <p><%= attachment_image_tag item, :image, :fill, 100, 100, format: 'jpeg' %></p>
  <% end %>
  <p><%= item.name %></p>
  <p>￥<%= (item.price * 1.1).floor %>（税込）</p>

</div>
<% end %>